@font-face {
	font-family: "Cascadia Mono";
	src: url("../fonts/CascadiaMono.ttf");
	font-size: 16px;
}
@font-face {
	font-family: "LXGW GB";
	src: url("../fonts/LXGWWenKaiGB_Regular.ttf");
}
@font-face {
	font-family: "LXGW WenKai";
	src: url("../fonts/LXGWWenKaiRegular.ttf");
	font-size: 16px;
}
:root {
	--md-code-font: "Cascadia Mono";
	--md-text-font: "LXGW WenKai";
}